@inherits LayoutComponentBase

<div class="bg-info text-white p-2">
	<h1 class="navbar-brand ml-2 font-weight-normal">SPORTS STORE Administration</h1>
</div>

<div class="container-fluid">
	<div class="row p-2">
		<div class="col-3">
			<NavLink class="btn btn-outline-primary btn-block"
					 href="/admin/products"
					 ActiveClass="btn-primary text-white"
					 Match="NavLinkMatch.Prefix">
				Product
			</NavLink>
			<NavLink class="btn btn-outline-primary btn-block"
					 href="/admin/orders"
					 ActiveClass="btn-primary text-white"
					 Match="NavLinkMatch.Prefix">
				Orders
			</NavLink>
		</div>
		<div class="col">
			@Body
		</div>
	</div>
</div>